<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Empresa - Buscar Candidatos</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/styleEmpresa.css}">

</head>
<body>

    <!-- Nav -->
    <div th:replace="/presentation/fragmentos/navEmpresa :: nav"></div>

<main>

    <!-- Contenido de la página -->
    <div class="container mt-2">

        <br/>
        <h3>Candidatos para el puesto</h3>
        <p><b>Puesto:</b> Full Stack Developer</p>

        <table class="table table-striped">

            <thead class="table-white bg-dark text-white">

            <tr>
                <th>Oferente</th>
                <th>Requerimientos cumplidos</th>
                <th>% Coincidencia</th>
            </tr>

            </thead>

            <tbody>

            <tr>
                <td>Jose Sánchez</td>
                <td>1/1</td>
                <td>100,00%</td>
                <td>

                    <button class="btn btn-outline-primary btn-sm">
                        Ver Detalle
                    </button>

                </td>

            </tr>

            </tbody>

        </table>

        <button class="btn btn-outline-primary btn-sm">
            Volver
        </button>

    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>