<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Empresa - Dashboard</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/styleEmpresa.css}">

</head>

<body>
    <!-- Nav -->
    <div th:replace="/presentation/fragmentos/navEmpresa :: nav"></div>

<main>

    <!-- Contenido de la página -->
    <div class="container mt-2">

        <h3>Empresa - Dashboard</h3>
        <p>Desde aquí podés administrar tus puestos y buscar candidatos</p>

        <a th:href="@{/empresa/MisPuestos}" class="btn btn-primary btn-sm"> Ver mis puestos</a>
        <a th:href="@{/empresa/PublicarPuesto}" class="btn btn-primary btn-sm"> Publicar nuevo puesto</a>

    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>