<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Empresa - Mis Puestos</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/styleEmpresa.css}">

</head>
<body>

<!-- Nav -->
<div th:replace="/presentation/fragmentos/navEmpresa :: nav"></div>

<main>

    <!-- Contenido de la página -->
    <div class="container mt-2">

        <h3>Mis puestos</h3>

        <a th:href="@{/empresa/PublicarPuesto}" class="btn btn-primary btn-sm ">
            Publicar puesto
        </a>


        <br/>

        <table class="table table-striped">

            <thead class="table-white bg-dark text-white">

            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Salario</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>

            </thead>

            <tbody>

            <tr>
                <td>2</td>
                <td>Full Stack Developer</td>
                <td>2000.0</td>
                <td>
                    <button class="btn btn-success">
                        Sí
                    </button>

                <td>

                    <button class="btn btn-outline-danger btn-sm">
                        Desactivar
                    </button>

                    <button class="btn btn-primary btn-sm">
                        Buscar Candidatos
                    </button>

                </td>

            </tr>

            <tr>
                <td>1</td>
                <td>Frontend Developer</td>
                <td>1200.0</td>
                <td>
                    <button class="btn btn-success">
                        Sí
                    </button>

                <td>

                    <button class="btn btn-outline-danger btn-sm">
                        Desactivar
                    </button>

                    <button class="btn btn-outline-primary btn-sm">
                        Buscar Candidatos
                    </button>

                </td>

            </tr>

            </tbody>

        </table>

    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>