<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Empresa - Ver Detalles</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/styleEmpresa.css}">

</head>
<body>

<!-- Nav -->
<div th:replace="/presentation/fragmentos/navEmpresa :: nav"></div>

<main>

    <!-- Contenido de la página -->

    <div class="container mt-2">

        </br>

        <h3>Detalle de oferente</h3>

        <div class="card-body border p-3">
            <div class="col-md-6">
                <p th:text="${oferente.nombre + ' ' + oferente.primerApellido}"></p>
            </div>
            <div class="col-md-6">
                <strong>Identificación:</strong> <span th:text="${oferente.identificacion}"></span>
            </div>
            <div class="col-md-6">
                <strong>Email:</strong> <span th:text="${oferente.correo}"></span>
            </div>
            <div class="col-md-6">
                <strong>Teléfono:</strong> <span th:text="${oferente.telefono}"></span>
            </div>
            <div class="col-md-6">
                <strong>Residencia:</strong> <span th:text="${oferente.lugarResidencia}"></span>
            </div>
        </div>

        <br/>

        <table class="table table">
            <thead class="table-white bg-dark text-white">
            <h5>Habilidades</h5>
            <th><b>Característica</b></th>
            <th><b>Nivel</b></th>
            </thead>
            <tbody>
            <tr th:each="habilidad : ${habilidades}">
                <td th:text="${habilidad.idCaracteristica.nombre}"></td>
                <td th:text="${habilidad.nivel}"></td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/empresa/BuscarCandidatos(idPuesto=${idPuesto})}" class="btn btn-outline-dark btn-sm">
            Volver
        </a>

    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>