<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Empresa - Ver Detalles</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/styleEmpresa.css}">

</head>
<body>

<!-- Nav -->
<div th:replace="/presentation/fragmentos/navEmpresa :: nav"></div>

<main>

    <!-- Contenido de la página -->

    <div class="container mt-2">

        </br>

        <h3>Detalle de oferente</h3>

        <div class="card-body border p-3">

            <div class="col-md-6">
                <p>Jose Sánchez</p>
            </div>

            <div class="col-md-6">
                <strong>Identificación:</strong> 12345678
            </div>

            <div class="col-md-6">
                <strong>Email:</strong> jsanchez@sanchez.com
            </div>

            <div class="col-md-6">
                <strong>Teléfono:</strong> 45356678
            </div>

            <div class="col-md-6">
                <strong>Residencia:</strong> San José
            </div>

        </div>

        </br>

        <table class="table table">

            <thead class="table-white bg-dark text-white">

            <h5>Habilidades</h5>

            <th><b>Característica</b></th>
            <th><b>Nivel</b></th>

            </thead>

            <tbody>

            <tr>
                <td>Lenguajes de programación</td>
                <td>4</td>
                <td>

            <tr>
                <td>Java</td>
                <td>5</td>
                <td>

            <tr>
                <td>Tecnologías Web</td>
                <td>4</td>
                <td>

            <tr>
                <td>Modelado</td>
                <td>5</td>
                <td>

            <tr>
                <td>Assertions</td>
                <td>3</td>
                <td>

                </td>
            </tr>

            </tbody>

        </table>

        <button class="btn btn-outline-dark btn-sm">
            Volver
        </button>

    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>