<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Buscar Puestos</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/stylePublico.css}">

</head>
<body class="bg-light">

    <!-- Nav -->
    <div th:replace="/presentation/fragmentos/navPartePublica :: nav"></div>

<main>

    <!-- Contenido de la página -->

    <div class="container mt-4">

        <h5><strong>Buscar puestos por características</strong></h5>

        <!-- FILTROS -->
        <div class="card p-3 mb-3" style="background-color:#f1f1f1;">

            <form th:action="@{/puestos/buscar}" method="get">

                <div class="row">

                    <!-- Motores -->
                    <div class="col-md-3">
                        <strong>Motores</strong><br>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" type="checkbox" name="motor" value="MySQL">
                            </label>
                            <label class="form-check-label">MySql</label>
                        </div>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" type="checkbox" name="motor" value="Oracle">
                            </label>
                            <label class="form-check-label">Oracle</label>
                        </div>
                    </div>

                    <!-- Ciberseguridad -->
                    <div class="col-md-3">
                        <strong>Ciberseguridad</strong><br>
                        <div class="form-check">
                            <label>
                                <input class="form-check-input" type="checkbox" name="ciber" value="Seguridad">
                            </label>
                            <label class="form-check-label">Ciberseguridad</label>
                        </div>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" name="motor" value="Oracle">
                        </label>
                        <label class="form-check-label">Oracle</label>
                    </div>
                </div>

                <!-- Ciberseguridad -->
                <div class="col-md-3">
                    <strong>Ciberseguridad</strong><br>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" name="ciber" value="Seguridad">
                        </label>
                        <label class="form-check-label">Ciberseguridad</label>
                    </div>
                </div>

                <!-- Lenguajes -->
                <div class="col-md-3">
                    <strong>Lenguajes de programación</strong><br>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" name="lenguaje" value="C#">
                        </label>
                        <label class="form-check-label">C#</label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" name="lenguaje" value="Java">
                        </label>
                        <label class="form-check-label">Java</label>
                    </div>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" name="lenguaje" value="Kotlin">
                        </label>
                        <label class="form-check-label">Kotlin</label>
                    </div>
                </div>

                <!-- Tecnologías Web -->
                <div class="col-md-3">
                    <strong>Tecnologías Web</strong><br>
                    <div class="form-check">
                        <label>
                            <input class="form-check-input" type="checkbox" name="web" value="Web" checked>
                        </label>
                        <label class="form-check-label">Tecnologías Web</label>
                    </div>
                </div>

            </form>
        </div>


        <!-- BOTONES -->
        <div class="mt-3">
            <button type="submit" class="btn btn-primary btn-sm">
                Buscar
            </button>

            <button type="reset" class="btn btn-outline-secondary btn-sm">
                Limpiar
            </button>

        </div>

        </br>

        <!-- RESULTADOS -->
        <h6><strong>Resultados</strong></h6>

        <div class="card p-3" style="width: 300px;">
            <small class="text-muted">Web Soft</small>
            <h6 class="mb-1">Frontend Developer</h6>
            <strong>Salario: 1200.0</strong>
        </div>
        </br>

    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>