<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Registro Oferente</title>

  <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

  <link rel="stylesheet" th:href="@{/css/styleLogin.css}">

</head>
<body class="bg-light">

    <!-- Nav -->
    <div th:replace="/presentation/fragmentos/navPartePublica :: nav"></div>

<main>

  <!-- Contenido de la página -->
  <div class="container d-flex justify-content-center" style="margin-top: 20px; margin-bottom: 20px">

    <div class="card shadow" style="width:700px;">

      <div class="card-header text-center bg-light">
        <h4>Registro Oferente</h4>
      </div>

      <div class="card-body bg-light">

        <!-- Foto -->
        <div class="text-center mb-4">
          <img src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png"
               width="80" alt="Usuario">
        </div>

        <form method="post">

          <div class="row">

            <div class="col-md-6 mb-3">
              <label class="form-label">Identificación</label>
              <input type="text" name="identificacion" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" name="nombre" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Primer Apellido</label>
              <input type="text" name="primerApellido" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Nacionalidad</label>
              <select name="nacionalidad" class="form-select" required>
                <option value="">-- Seleccione --</option>
                <option th:each="nac : ${nacionalidades}"
                        th:value="${nac.descripcion}"
                        th:text="${nac.descripcion}">
                </option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Teléfono</label>
              <input type="text" name="telefono" placeholder="Solo números" pattern="[0-9]+" title="Ingrese solo números" class="form-control">
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Correo</label>
              <input type="email" name="correo" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Residencia</label>
              <input type="text" name="lugarResidencia" class="form-control" required>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-label">Contraseña</label>
              <input type="password" name="clave" class="form-control" required>
            </div>

          </div>

          <button type="submit" class="btn btn-primary w-100 mt-2">
            Registrarse
          </button>

        </form>


        <!-- Modal éxito -->
        <div class="modal fade" id="modalExito" tabindex="-1"
             th:classappend="${hayMensaje == 1} ? 'show d-block' : ''"
             th:attr="aria-hidden=${hayMensaje == 1} ? 'false' : 'true'">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Solicitud enviada</h1>
              </div>
              <div class="modal-body">
                <p th:text="${mensaje}"></p>
              </div>
              <div class="modal-footer">
                <a th:href="@{/oferentes/Registrooferente}" class="btn btn-primary">Cerrar</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Fondo oscuro -->
        <div class="modal-backdrop fade show" th:if="${hayMensaje == 1}"></div>

      </div>
    </div>
  </div>
  <!-- Footer -->
        <div class="card-footer text-center bg-light">
        </div>

      </div>
    </div>
  </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>