<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Oferente - Dashboard</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/styleOferente.css}">

</head>
<body>

    <!-- Nav -->
    <div th:replace="/presentation/fragmentos/navOferentes :: nav"></div>

<main>

    <!-- Contenido de la página -->
    <div class="container mt-2">

        <h3>Oferente - Dashboard</h3>
        <p>Administra tus habilidades y tu CV.</p>

        <a th:href="@{/oferentes/habilidades}" class="btn btn-primary btn-sm">Mis habilidades</a>
        <a th:href="@{/oferentes/cv}" class="btn btn-primary btn-sm">Mi CV</a>

    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>