<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Admin - Oferentes Pendientes</title>

    <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

    <link rel="stylesheet" th:href="@{/css/styleAdministrador.css}">

</head>
<body>

    <!-- Nav -->
    <div th:replace="/presentation/fragmentos/navAdministrador :: nav"></div>

<main>

    <!-- Contenido de la página -->
    <div class="container mt-2">

        <h3>Oferentes Pendientes</h3>
        <div class="container mt-4 p-4" style="background-color:#f2f2f2;">
            <table class="table">
                <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="oferente : ${oferentes}">
                    <td th:text="${oferente.correo}"></td>
                    <td>
                        <form method="post" th:action="@{/administrador/aprobarOferente}">
                            <input type="hidden" name="id" th:value="${oferente.identificacion}">
                            <button type="submit" class="btn btn-success">Aprobar</button>
                        </form>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(oferentes)}">
                    <td colspan="2" class="text-center">No hay oferentes pendientes</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>