<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin - Dashboard</title>

  <link rel="icon" type="image/png" th:href="@{/img/logobolsaempleo.png}">

  <link rel="stylesheet" th:href="@{/css/styleAdministrador.css}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdP..." crossorigin="anonymous">
</head>
<body>
<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

      <!-- Imagen -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img th:src="@{/img/logobolsaempleo.png}" class="logo" alt="Logo">
        BolsaEmpleo
      </a>

      <!-- Boton responsive -->
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="collapse navbar-collapse" id="menu">

        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/presentation/administrador/dashboard}">Dashboard</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Empresas Pendientes</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Oferentes Pendientes</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Características</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Reportes</a></li>
        </ul>

        <!-- correo usuario -->
        <span class="text-white me-3">correoelectonico@gmail.com</span>

        <!-- Boton salir -->
        <a class="btn btn-outline-light btn-sm" href="/">Salir</a>

      </div>
    </div>
  </nav>

  <!-- Contenido de la página -->
  <div class="container mt-2">

    <h3>Administrador</h3>
    <p>Aprobaciones, catálogos de características y reportes.</p>

    <button class="btn btn-primary btn-sm">Empresas pendientes</button>
    <button class="btn btn-primary btn-sm">Oferentes pendientes</button>
    <button class="btn btn-primary btn-sm">Características</button>
    <button class="btn btn-primary btn-sm">Reportes</button>
  </div>
</main>
<footer class="bg-dark text-white p-3">
  <div class="container d-flex justify-content-between">
    <div>
      Bolsa de Empleo<br>
      <small>Total Soft Inc.</small>
    </div>

    <div class="text-end">
      Contacto info@bolsaempleo.local<br>
      Créditos Equipo de desarrollo
    </div>
  </div>
</footer>
</body>
</html>