<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <title>Admin - Dashboard</title>

  <div th:replace="/presentation/fragmentos/head :: baseHead"></div>

  <link rel="stylesheet" th:href="@{/css/styleAdministrador.css}">

</head>
<body>

    <!-- Nav -->
    <div th:replace="/presentation/fragmentos/navAdministrador :: nav"></div>

<main>

  <!-- Contenido de la página -->
  <div class="container mt-2">

    <h3>Administrador</h3>
    <p>Aprobaciones, catálogos de características y reportes.</p>

    <a th:href="@{/administrador/AdminEmpresasPendientes}">
      <button class="btn btn-primary btn-sm">Empresas pendientes</button>
    </a>
    <a th:href="@{/administrador/AdminOferentesPendientes}">
      <button class="btn btn-primary btn-sm">Oferentes pendientes</button>
    </a>
    <a th:href="@{/administrador/AdminCaracteristicas}">
      <button class="btn btn-primary btn-sm">Características</button>
    </a>
    <a th:href="@{/administrador/Reportes}">
      <button class="btn btn-primary btn-sm">Reportes</button>
    </a>
  </div>
</main>

<!-- FOOTER -->
<div th:replace="/presentation/fragmentos/footer :: footer"></div>

</body>
</html>