.logo{
    width:30px;
    margin-right: 7px;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.lista-scroll{
    max-height:200px;
    overflow-y:auto;
}